schemas/BICLWSOrderStatusEnquiryReport_V0.9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:bicws="http://www.bic.org.uk/librarywebservices/orderStatus"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.bic.org.uk/librarywebservices/orderStatus"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="OrderStatusEnquiry">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="bicws:OrderStatusEnquiryHeader"/>
				<xs:element name="ItemDetail" type="bicws:OrderStatusEnquiryItemDetail"
					maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" fixed="2.0"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderStatusReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="bicws:OrderStatusReportHeader"/>
				<xs:element name="ItemDetail" type="bicws:OrderStatusReportItemDetail" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:element name="PackageDetail" type="bicws:OrderStatusReportPackageDetail"
					minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" fixed="2.0"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HeaderResponseCoded">
		<xs:sequence>
			<xs:element name="ResponseType" type="bicws:HeaderResponseTypeCode"/>
			<xs:element name="ResponseTypeDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Location">
		<xs:choice>
			<xs:sequence>
				<xs:element name="LocationIdentifier" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LocationIDType" type="bicws:LocationIDAgencyCode"/>
							<xs:element name="IDTypeName" type="xs:string" minOccurs="0"/>
							<xs:element name="IDValue" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LocationName" type="bicws:LocationName" minOccurs="0"/>
			</xs:sequence>
			<xs:element name="LocationName" type="bicws:LocationName"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OrderStatusEnquiryHeader">
		<xs:sequence>
			<xs:element name="ClientID" type="xs:string" minOccurs="0"/>
			<xs:element name="ClientPassword" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountIdentifier" type="bicws:AccountIdentifier" minOccurs="0"/>
			<xs:element name="RequestNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="IssueDateTime" type="bicws:DateOrDateTime" minOccurs="0"/>
			<xs:element name="SupplierIdentifier" type="bicws:SupplierIdentifier" minOccurs="0"/>
			<xs:element name="ReferenceCoded" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceTypeCode"
							type="bicws:OrderStatusEnquiryReferenceTypeCode"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="ReferenceNumber" type="xs:string"/>
								<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"
									minOccurs="0"/>
							</xs:sequence>
							<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RequestType" type="bicws:OrderStatusEnquiryTypeCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderStatusEnquiryItemDetail">
		<xs:sequence>
			<xs:element name="LineNumber" type="xs:int"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="EAN13" type="xs:string"/>
					<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
						minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
					maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="OrderQuantity" type="xs:int" minOccurs="0"/>
			<xs:element name="ReferenceCoded" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceTypeCode"
							type="bicws:OrderStatusEnquiryItemReferenceTypeCode"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="ReferenceNumber" type="xs:string"/>
								<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"
									minOccurs="0"/>
							</xs:sequence>
							<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderStatusReportHeader">
		<xs:sequence>
			<xs:element name="IssueDateTime" type="bicws:DateOrDateTime"/>
			<xs:element name="SenderIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SenderIDType" type="bicws:SenderIDTypeCode"/>
						<xs:element name="IDTypeName" type="xs:string" minOccurs="0"/>
						<xs:element name="IDValue" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResponseNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountIdentifier" type="bicws:AccountIdentifier" minOccurs="0"/>
			<xs:element name="ReferenceCoded" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceTypeCode"
							type="bicws:OrderStatusReportReferenceTypeCode"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="ReferenceNumber" type="xs:string"/>
								<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"
									minOccurs="0"/>
							</xs:sequence>
							<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResponseCoded" type="bicws:HeaderResponseCoded" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="SupplierIdentifier" type="bicws:SupplierIdentifier" minOccurs="0"/>
			<xs:element minOccurs="0" name="OrderPriorityCode" type="bicws:OrderPriorityCode"/>
			<xs:element name="CurrencyCode" type="bicws:CurrencyCode" minOccurs="0"/>
			<xs:element name="ShippingFrom" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Location" type="bicws:Location"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderStatus" type="bicws:OrderStatusCode" minOccurs="0"/>
			<xs:element name="OrderStatusMessage" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderStatusReportItemDetail">
		<xs:sequence>
			<xs:element name="LineNumber" type="xs:int"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="EAN13" type="xs:string"/>
					<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
						minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
					maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="ItemDescription" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Title" type="xs:string" minOccurs="0"/>
						<xs:element name="Author" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderQuantity" type="xs:int"/>
			<xs:element name="ReferenceCoded" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceTypeCode"
							type="bicws:OrderStatusReportItemReferenceTypeCode"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="ReferenceNumber" type="xs:string"/>
								<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"
									minOccurs="0"/>
							</xs:sequence>
							<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="OrderPriorityCode" type="bicws:OrderPriorityCode"/>
			<xs:element name="Price" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:sequence>
								<xs:group minOccurs="0" ref="bicws:PriceIdentifierGroup"/>
								<xs:element name="MonetaryAmount" type="xs:decimal"/>
								<xs:element name="CurrencyCode" type="bicws:CurrencyCode"
									minOccurs="0"/>
								<xs:element name="PriceQualifierCode"
									type="bicws:OrderPriceQualifierCode"/>
							</xs:sequence>
							<xs:group ref="bicws:PriceIdentifierGroup"/>
						</xs:choice>
						<xs:element name="DiscountPercentage" type="xs:decimal" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderLineStatusCoded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatusCodeType" type="bicws:OrderLineStatusCodeTypeCode"/>
						<xs:element name="StatusCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShippingFrom" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Location" type="bicws:Location"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShippedQuantity" type="xs:int" minOccurs="0"/>
			<xs:element name="BackorderedQuantity" type="xs:int" minOccurs="0"/>
			<xs:element name="CancelledQuantity" type="xs:int" minOccurs="0"/>
			<xs:element name="PackageReference" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PackedQuantity" type="xs:int" minOccurs="0"/>
						<xs:element name="PackageNumber" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="AvailabilityCoded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SupplierAvailabilityCode"
							type="bicws:SupplierAvailabilityCode" minOccurs="0"/>
						<xs:element name="PublisherAvailabilityCode"
							type="bicws:PublisherAvailabilityCode" minOccurs="0"/>
						<xs:element name="ExpectedShipDate" type="bicws:Date" minOccurs="0"/>
						<xs:element name="PublishingStatusCode" type="bicws:PublishingStatusCode"
							minOccurs="0"/>
						<xs:element name="LibraryOnDisplayDate" type="bicws:Date" minOccurs="0"/>
						<xs:element name="OrderTime" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Substitute" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:sequence>
								<xs:element name="EAN13" type="xs:string"/>
								<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
									minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
								maxOccurs="unbounded"/>
						</xs:choice>
						<xs:element name="ItemDescription" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TitleDetail" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PricingDetail" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Price">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="MonetaryAmount" type="xs:decimal"/>
												<xs:element name="CurrencyCode"
												type="bicws:CurrencyCode" minOccurs="0"/>
												<xs:element name="PriceQualifierCode"
												type="bicws:OrderPriceQualifierCode"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:choice minOccurs="0">
										<xs:element name="Allowance">
											<xs:complexType>
												<xs:sequence>
												<xs:element name="AllowanceCodeType"
												type="bicws:AllowanceCodeTypeCode"/>
												<xs:element name="AllowanceCode" type="xs:string"
												/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DiscountPercentage" type="xs:decimal"/>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SupplierAvailabilityCode"
							type="bicws:SupplierAvailabilityCode" minOccurs="0"/>
						<xs:element name="PublisherAvailabilityCode"
							type="bicws:PublisherAvailabilityCode" minOccurs="0"/>
						<xs:element name="ExpectedShipDate" type="bicws:Date" minOccurs="0"/>
						<xs:element name="PublishingStatusCode" type="bicws:PublishingStatusCode"
							minOccurs="0"/>
						<xs:element name="ConsumerOnSaleDate" type="bicws:Date" minOccurs="0"/>
						<xs:element name="OrderTime" type="xs:int" minOccurs="0"/>
						<xs:element name="Stock" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Location" type="bicws:Location" minOccurs="0"/>
									<xs:element name="OnHandQuantity" type="xs:int"/>
									<xs:element name="OnOrderQuantity" type="xs:int" minOccurs="0"/>
									<xs:element name="CBOQuantity" type="xs:int" minOccurs="0"/>
									<xs:element name="Velocity" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="VelocityCode"
												type="bicws:VelocityCode"/>
												<xs:element name="VelocityValue" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="StockDetailDateTime"
										type="bicws:DateOrDateTime" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Message">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="SubLineNumber" type="xs:int"/>
						<xs:element name="MessageType" type="bicws:MessageTypeCode"/>
						<xs:element maxOccurs="unbounded" name="MessageLine" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderStatusReportPackageDetail">
		<xs:sequence>
			<xs:element name="PackageCoded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PackageCodeType" type="bicws:PackageCodeTypeCode"/>
						<xs:element name="PackageCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NumberOfPackages" type="xs:int"/>
			<xs:element name="Package" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PackageNumber" type="xs:int"/>
						<xs:element name="PackageMark" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PackageMarkTypeCode"
										type="bicws:PackageMarkTypeCode"/>
									<xs:element name="PackageMarkValue" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Measure" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MeasureTypeCode" type="bicws:MeasureTypeCode"/>
									<xs:element name="Measurement" type="xs:decimal"/>
									<xs:element name="MeasureUnitCode" type="bicws:MeasureUnitCode"
									/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentifier">
		<xs:sequence>
			<xs:element name="AccountIDType" type="bicws:AccountIDTypeCode"/>
			<xs:element name="IDValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceIdentifier">
		<xs:sequence>
			<xs:element name="PriceIDType" type="bicws:PriceIDTypeCode"/>
			<xs:element minOccurs="0" name="IDTypeName" type="xs:string"/>
			<xs:element name="IDValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="PriceIdentifierGroup">
		<xs:sequence>
			<xs:element name="PriceIdentifier" type="bicws:PriceIdentifier"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ProductIdentifier">
		<xs:sequence>
			<xs:element name="ProductIDType" type="bicws:ProductIDAgencyCode"/>
			<xs:element name="IDTypeName" type="xs:string" minOccurs="0"/>
			<xs:element name="IDValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplierIdentifier">
		<xs:sequence>
			<xs:element name="SupplierIDType" type="bicws:SupplierIDTypeCode"/>
			<xs:element name="IDTypeName" type="xs:string" minOccurs="0"/>
			<xs:element name="IDValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AccountIDTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AllowanceCodeTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AED"/>
			<xs:enumeration value="AFA"/>
			<xs:enumeration value="AFN"/>
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="AMD"/>
			<xs:enumeration value="ANG"/>
			<xs:enumeration value="AOA"/>
			<xs:enumeration value="ARS"/>
			<xs:enumeration value="AUD"/>
			<xs:enumeration value="AWG"/>
			<xs:enumeration value="AZM"/>
			<xs:enumeration value="BAM"/>
			<xs:enumeration value="BBD"/>
			<xs:enumeration value="BDT"/>
			<xs:enumeration value="BGL"/>
			<xs:enumeration value="BGN"/>
			<xs:enumeration value="BHD"/>
			<xs:enumeration value="BIF"/>
			<xs:enumeration value="BMD"/>
			<xs:enumeration value="BND"/>
			<xs:enumeration value="BOB"/>
			<xs:enumeration value="BRL"/>
			<xs:enumeration value="BSD"/>
			<xs:enumeration value="BTN"/>
			<xs:enumeration value="BWP"/>
			<xs:enumeration value="BYR"/>
			<xs:enumeration value="BZD"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="CDF"/>
			<xs:enumeration value="CHF"/>
			<xs:enumeration value="CLP"/>
			<xs:enumeration value="CNY"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="CRC"/>
			<xs:enumeration value="CSD"/>
			<xs:enumeration value="CUC"/>
			<xs:enumeration value="CUP"/>
			<xs:enumeration value="CVE"/>
			<xs:enumeration value="CYP"/>
			<xs:enumeration value="CZK"/>
			<xs:enumeration value="DJF"/>
			<xs:enumeration value="DKK"/>
			<xs:enumeration value="DOP"/>
			<xs:enumeration value="DZD"/>
			<xs:enumeration value="EEK"/>
			<xs:enumeration value="EGP"/>
			<xs:enumeration value="ERN"/>
			<xs:enumeration value="ETB"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="FJD"/>
			<xs:enumeration value="FKP"/>
			<xs:enumeration value="GBP"/>
			<xs:enumeration value="GEL"/>
			<xs:enumeration value="GHC"/>
			<xs:enumeration value="GIP"/>
			<xs:enumeration value="GMD"/>
			<xs:enumeration value="GNF"/>
			<xs:enumeration value="GTQ"/>
			<xs:enumeration value="GWP"/>
			<xs:enumeration value="GYD"/>
			<xs:enumeration value="HKD"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="HRK"/>
			<xs:enumeration value="HTG"/>
			<xs:enumeration value="HUF"/>
			<xs:enumeration value="IDR"/>
			<xs:enumeration value="ILS"/>
			<xs:enumeration value="INR"/>
			<xs:enumeration value="IQD"/>
			<xs:enumeration value="IRR"/>
			<xs:enumeration value="ISK"/>
			<xs:enumeration value="JMD"/>
			<xs:enumeration value="JOD"/>
			<xs:enumeration value="JPY"/>
			<xs:enumeration value="KES"/>
			<xs:enumeration value="KGS"/>
			<xs:enumeration value="KHR"/>
			<xs:enumeration value="KMF"/>
			<xs:enumeration value="KPW"/>
			<xs:enumeration value="KRW"/>
			<xs:enumeration value="KWD"/>
			<xs:enumeration value="KYD"/>
			<xs:enumeration value="KZT"/>
			<xs:enumeration value="LAK"/>
			<xs:enumeration value="LBP"/>
			<xs:enumeration value="LKR"/>
			<xs:enumeration value="LRD"/>
			<xs:enumeration value="LSL"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="LVL"/>
			<xs:enumeration value="LYD"/>
			<xs:enumeration value="MAD"/>
			<xs:enumeration value="MDL"/>
			<xs:enumeration value="MGA"/>
			<xs:enumeration value="MGF"/>
			<xs:enumeration value="MKD"/>
			<xs:enumeration value="MMK"/>
			<xs:enumeration value="MNT"/>
			<xs:enumeration value="MOP"/>
			<xs:enumeration value="MRO"/>
			<xs:enumeration value="MTL"/>
			<xs:enumeration value="MUR"/>
			<xs:enumeration value="MVR"/>
			<xs:enumeration value="MWK"/>
			<xs:enumeration value="MXN"/>
			<xs:enumeration value="MYR"/>
			<xs:enumeration value="MZM"/>
			<xs:enumeration value="NAD"/>
			<xs:enumeration value="NGN"/>
			<xs:enumeration value="NIO"/>
			<xs:enumeration value="NOK"/>
			<xs:enumeration value="NPR"/>
			<xs:enumeration value="NZD"/>
			<xs:enumeration value="OMR"/>
			<xs:enumeration value="PAB"/>
			<xs:enumeration value="PEN"/>
			<xs:enumeration value="PGK"/>
			<xs:enumeration value="PHP"/>
			<xs:enumeration value="PKR"/>
			<xs:enumeration value="PLN"/>
			<xs:enumeration value="PYG"/>
			<xs:enumeration value="QAR"/>
			<xs:enumeration value="ROL"/>
			<xs:enumeration value="RUB"/>
			<xs:enumeration value="RUR"/>
			<xs:enumeration value="RWF"/>
			<xs:enumeration value="SAR"/>
			<xs:enumeration value="SBD"/>
			<xs:enumeration value="SCR"/>
			<xs:enumeration value="SDD"/>
			<xs:enumeration value="SEK"/>
			<xs:enumeration value="SGD"/>
			<xs:enumeration value="SHP"/>
			<xs:enumeration value="SIT"/>
			<xs:enumeration value="SKK"/>
			<xs:enumeration value="SLL"/>
			<xs:enumeration value="SOS"/>
			<xs:enumeration value="SRD"/>
			<xs:enumeration value="SRG"/>
			<xs:enumeration value="STD"/>
			<xs:enumeration value="SVC"/>
			<xs:enumeration value="SYP"/>
			<xs:enumeration value="SZL"/>
			<xs:enumeration value="THB"/>
			<xs:enumeration value="TJS"/>
			<xs:enumeration value="TMM"/>
			<xs:enumeration value="TND"/>
			<xs:enumeration value="TOP"/>
			<xs:enumeration value="TPE"/>
			<xs:enumeration value="TRL"/>
			<xs:enumeration value="TRY"/>
			<xs:enumeration value="TTD"/>
			<xs:enumeration value="TWD"/>
			<xs:enumeration value="TZS"/>
			<xs:enumeration value="UAH"/>
			<xs:enumeration value="UGX"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value="UYU"/>
			<xs:enumeration value="UZS"/>
			<xs:enumeration value="VEB"/>
			<xs:enumeration value="VND"/>
			<xs:enumeration value="VUV"/>
			<xs:enumeration value="WST"/>
			<xs:enumeration value="XAF"/>
			<xs:enumeration value="XCD"/>
			<xs:enumeration value="XOF"/>
			<xs:enumeration value="XPF"/>
			<xs:enumeration value="YER"/>
			<xs:enumeration value="YUM"/>
			<xs:enumeration value="ZAR"/>
			<xs:enumeration value="ZMK"/>
			<xs:enumeration value="ZWD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:restriction base="xs:string">
			<xs:pattern value="2\d\d\d(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-8])"/>
			<xs:pattern value="200[048]0229"/>
			<xs:pattern value="2[1-9]0[48]0229"/>
			<xs:pattern value="2\d([2468][048]|[13579][26])0229"/>
			<xs:pattern value="2\d\d\d(0[13-9]|1[0-2])(29|30)"/>
			<xs:pattern value="2\d\d\d(0[13578]|1[02])31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOrDateTime">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="2\d\d\d(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-8])(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="200[048]0229(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="2[1-9]0[48]0229(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="2\d([2468][048]|[13579][26])0229(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="2\d\d\d(0[13-9]|1[0-2])(29|30)(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="2\d\d\d(0[13578]|1[02])31(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeaderResponseTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationIDAgencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MeasureTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MeasureUnitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageTypeCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="0[1-9]|[1-9]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderLineStatusCodeTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusDateQualifierCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusEnquiryItemReferenceTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="12"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="33"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusEnquiryReferenceTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="11"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusEnquiryTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusReportItemReferenceTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusReportReferenceTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="37"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderPriorityCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OrderPriceQualifierCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PackageCodeTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PackageMarkTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceIDTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductIDAgencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublisherAvailabilityCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublishingStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SenderIDTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SupplierAvailabilityCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="10"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="80"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="91"/>
			<xs:enumeration value="92"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SupplierIDTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VelocityCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
