schemas/BICLWSOrderRequestResponse_V0.9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:bicws="http://www.bic.org.uk/librarywebservices/Order"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.bic.org.uk/librarywebservices/Order" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="OrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="bicws:OrderRequestHeader"/>
				<xs:element name="ItemDetail" type="bicws:OrderRequestItemDetail"
					maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" fixed="0.9"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="bicws:OrderResponseHeader"/>
				<xs:element name="ItemDetail" type="bicws:OrderResponseItemDetail" minOccurs="0"
					maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" fixed="0.9"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AccountIdentifier">
		<xs:sequence>
			<xs:element name="AccountIDType" type="bicws:AccountIDTypeCode"/>
			<xs:element name="IDValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Carrier">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="CarrierNameCoded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CarrierNameCodeType"
									type="bicws:CarrierNameCodeTypeCode"/>
								<xs:element name="CarrierNameCode" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="CarrierName" type="bicws:CarrierName" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="CarrierName" type="bicws:CarrierName"/>
			</xs:choice>
			<xs:element name="CarrierService" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HeaderResponseCoded">
		<xs:sequence>
			<xs:element name="ResponseType" type="bicws:HeaderResponseTypeCode"/>
			<xs:element name="ResponseTypeDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Location">
		<xs:choice>
			<xs:sequence>
				<xs:element name="LocationIdentifier" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LocationIDType" type="bicws:LocationIDAgencyCode"/>
							<xs:element name="IDTypeName" type="xs:string" minOccurs="0"/>
							<xs:element name="IDValue" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LocationName" type="bicws:LocationName" minOccurs="0"/>
			</xs:sequence>
			<xs:element name="LocationName" type="bicws:LocationName"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OrderRequestHeader">
		<xs:sequence>
			<xs:element name="ClientID" type="xs:string" minOccurs="0"/>
			<xs:element name="ClientPassword" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountIdentifier" type="bicws:AccountIdentifier" minOccurs="0"/>
			<xs:element name="RequestNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="OrderNumber" type="xs:string"/>
			<xs:element name="IssueDateTime" type="bicws:DateOrDateTime" minOccurs="0"/>
			<xs:element name="ReferenceCoded" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceTypeCode" type="bicws:OrderReferenceTypeCode"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="ReferenceNumber" type="xs:string"/>
								<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"
									minOccurs="0"/>
							</xs:sequence>
							<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="OrderTypeCode" type="bicws:OrderTypeCode"/>
			<xs:element minOccurs="0" name="OrderPriorityCode" type="bicws:OrderPriorityCode"/>
			<xs:element name="CurrencyCode" type="bicws:CurrencyCode" minOccurs="0"/>
			<xs:element name="DateCoded" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Date" type="bicws:Date"/>
						<xs:element name="DateQualifierCode" type="bicws:OrderDateQualifierCode"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FillTermsCode" type="bicws:FillTermsCode" minOccurs="0"/>
			<xs:element name="SupplierIdentifier" type="bicws:SupplierIdentifier" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="ShipToParty" type="bicws:Party" minOccurs="0"/>
			<xs:element name="BillToParty" type="bicws:Party" minOccurs="0"/>
			<xs:element name="Delivery" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="DeliveryTimeCode" type="bicws:DeliveryTimeCode"/>
							<xs:element name="VendorDeliveryService"
								type="bicws:VendorDeliveryService" minOccurs="0"/>
							<xs:element name="Carrier" type="bicws:Carrier" minOccurs="0"/>
							<xs:element name="DeliveryNotes" type="bicws:DeliveryNotes"
								minOccurs="0"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="VendorDeliveryService"
								type="bicws:VendorDeliveryService"/>
							<xs:element name="Carrier" type="bicws:Carrier" minOccurs="0"/>
							<xs:element name="DeliveryNotes" type="bicws:DeliveryNotes"
								minOccurs="0"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="Carrier" type="bicws:Carrier"/>
							<xs:element name="DeliveryNotes" type="bicws:DeliveryNotes"
								minOccurs="0"/>
						</xs:sequence>
						<xs:element name="DeliveryNotes" type="bicws:DeliveryNotes"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShippingInstructionsCode" type="bicws:ShippingInstructionsCode"
				minOccurs="0"/>
			<xs:element minOccurs="0" name="CatalogingInstructions">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="CatalogingFormatCode"
								type="bicws:LibraryCatalogingFormatCode"/>
							<xs:element minOccurs="0" name="CatalogingSupplyCode"
								type="bicws:LibraryCatalogingSupplyCode"/>
						</xs:sequence>
						<xs:element name="CatalogingSupplyCode"
							type="bicws:LibraryCatalogingSupplyCode"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvoicingInstructionsCode"
				type="bicws:HeaderInvoicingInstructionsCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PaymentTerms" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="NetDaysDue" type="xs:int"/>
						<xs:element name="NetDueDate" type="bicws:Date"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="DiscountPercentage" type="xs:decimal" minOccurs="0"/>
			<xs:element minOccurs="0" name="ChargeToCard"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderRequestItemDetail">
		<xs:sequence>
			<xs:element name="LineNumber" type="xs:int"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="EAN13" type="xs:string"/>
					<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
						minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
					maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="ItemDescription" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BibNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="ProductForm" type="bicws:ProductFormCode" minOccurs="0"/>
						<xs:element name="Title" type="xs:string" minOccurs="0"/>
						<xs:element name="Author" type="xs:string" minOccurs="0"/>
						<xs:element name="SeriesTitle" type="xs:string" minOccurs="0"/>
						<xs:element name="VolumeOrPart" type="xs:string" minOccurs="0"/>
						<xs:element name="EditionStatement" type="xs:string" minOccurs="0"/>
						<xs:element name="CityOfPublication" type="xs:string" minOccurs="0"/>
						<xs:element name="CountryOfPublication" type="bicws:CountryCode"
							minOccurs="0"/>
						<xs:element name="PublisherName" type="xs:string" minOccurs="0"/>
						<xs:element name="DateOfPublication" type="bicws:Date" minOccurs="0"/>
						<xs:element name="YearOfPublication" type="bicws:Year" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderQuantity" type="xs:int"/>
			<xs:element name="ReferenceCoded" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceTypeCode" type="bicws:OrderItemReferenceTypeCode"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="ReferenceNumber" type="xs:string"/>
								<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"
									minOccurs="0"/>
							</xs:sequence>
							<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShipToParty" type="bicws:Party" minOccurs="0"/>
			<xs:element minOccurs="0" name="OrderPriorityCode" type="bicws:OrderPriorityCode"/>
			<xs:element name="DateCoded" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Date" type="bicws:Date"/>
						<xs:element name="DateQualifierCode" type="bicws:OrderDateQualifierCode"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FillTermsCode" type="bicws:ItemFillTermsCode" minOccurs="0"/>
			<xs:element name="Price" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:sequence>
								<xs:group minOccurs="0" ref="bicws:PriceIdentifierGroup"/>
								<xs:element name="MonetaryAmount" type="xs:decimal"/>
								<xs:element name="CurrencyCode" type="bicws:CurrencyCode"
									minOccurs="0"/>
								<xs:element name="PriceQualifierCode"
									type="bicws:OrderPriceQualifierCode"/>
							</xs:sequence>
							<xs:group ref="bicws:PriceIdentifierGroup"/>
						</xs:choice>
						<xs:element minOccurs="0" name="PriceTypeQualifier"
							type="bicws:PriceTypeQualifierCode"/>
						<xs:element name="DiscountPercentage" type="xs:decimal" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="InvoicingInstructionsCode"
				type="bicws:ItemInvoicingInstructionsCode" maxOccurs="unbounded"/>
			<xs:element name="AllCopyDetail" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DeliverToLocation" type="xs:string" minOccurs="0"/>
						<xs:element name="DestinationLocation" type="xs:string" minOccurs="0"/>
						<xs:element name="CollectionProfile" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CollectionCode" type="xs:string" minOccurs="0"/>
									<xs:element name="CollectionDescription" type="xs:string"
										minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="LocalCallNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="Classification" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SubjectSchemeIdentifier"
										type="bicws:LibrarySubjectSchemeIdentifierCode"/>
									<xs:element name="SubjectSchemeVersion" type="xs:string"
										minOccurs="0"/>
									<xs:element name="SubjectCode" type="xs:string"
										maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CopyValue" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MonetaryAmount" type="xs:decimal"/>
									<xs:element name="CurrencyCode" type="bicws:CurrencyCode"
										minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FeatureHeading" type="xs:string" minOccurs="0"/>
						<xs:element name="FilingSuffix" type="xs:string" minOccurs="0"/>
						<xs:element name="LoanStatusCode" type="xs:string" minOccurs="0"/>
						<xs:element name="LocationCode" type="xs:string" minOccurs="0"/>
						<xs:element name="StockSequenceCode" type="xs:string" minOccurs="0"/>
						<xs:element name="StockCategoryCode" type="xs:string" minOccurs="0"/>
						<xs:element name="ReaderInterestCode" type="xs:string" minOccurs="0"/>
						<xs:element name="LibraryRotationPlanCode" type="xs:string" minOccurs="0"/>
						<xs:element name="SizeCode" type="xs:string" minOccurs="0"/>
						<xs:element name="ProcessingProfileCode" type="xs:string" minOccurs="0"/>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="ProcessingInstructionCode"
								type="bicws:LibraryOrderProcessingInstructionCode"/>
							<xs:choice minOccurs="0">
								<xs:element name="AppliedCopyNumber" type="xs:string"/>
								<xs:element name="SpineLabelString" type="xs:string"/>
							</xs:choice>
						</xs:sequence>
						<xs:element name="FundDetail" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FundNumber" type="xs:string"/>
									<xs:element name="FundDescription" type="xs:string"
										minOccurs="0"/>
									<xs:element name="Percent" type="xs:decimal" minOccurs="0"/>
									<xs:element name="MonetaryAmount" type="xs:decimal"
										minOccurs="0"/>
									<xs:element name="BudgetYear" type="xs:gYear" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="OrderNotes" type="xs:string" minOccurs="0"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Message">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MessageType" type="bicws:MessageTypeCode"/>
									<xs:element maxOccurs="unbounded" name="MessageLine"
										type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RequestedBy" type="xs:string" minOccurs="0"
							maxOccurs="unbounded"/>
						<xs:element name="ApprovedBy" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CopyDetail" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubLineNumber" type="xs:int"/>
						<xs:element name="CopyQuantity" type="xs:int"/>
						<xs:element name="CopyNumber" type="xs:string" minOccurs="0"
							maxOccurs="unbounded"/>
						<xs:element name="DeliverToLocation" type="xs:string" minOccurs="0"/>
						<xs:element name="DestinationLocation" type="xs:string" minOccurs="0"/>
						<xs:element name="CollectionProfile" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CollectionCode" type="xs:string" minOccurs="0"/>
									<xs:element name="CollectionDescription" type="xs:string"
										minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="LocalCallNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="Classification" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SubjectSchemeIdentifier"
										type="bicws:LibrarySubjectSchemeIdentifierCode"/>
									<xs:element name="SubjectSchemeVersion" type="xs:string"
										minOccurs="0"/>
									<xs:element name="SubjectCode" type="xs:string"
										maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CopyValue" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MonetaryAmount" type="xs:decimal"/>
									<xs:element name="CurrencyCode" type="bicws:CurrencyCode"
										minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FeatureHeading" type="xs:string" minOccurs="0"/>
						<xs:element name="FilingSuffix" type="xs:string" minOccurs="0"/>
						<xs:element name="LoanStatusCode" type="xs:string" minOccurs="0"/>
						<xs:element name="LocationCode" type="xs:string" minOccurs="0"/>
						<xs:element name="StockSequenceCode" type="xs:string" minOccurs="0"/>
						<xs:element name="StockCategoryCode" type="xs:string" minOccurs="0"/>
						<xs:element name="ReaderInterestCode" type="xs:string" minOccurs="0"/>
						<xs:element name="LibraryRotationPlanCode" type="xs:string" minOccurs="0"/>
						<xs:element name="SizeCode" type="xs:string" minOccurs="0"/>
						<xs:element name="ProcessingProfileCode" type="xs:string" minOccurs="0"/>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="ProcessingInstructionCode"
								type="bicws:LibraryOrderProcessingInstructionCode"/>
							<xs:choice minOccurs="0">
								<xs:element name="AppliedCopyNumber" type="xs:string"/>
								<xs:element name="SpineLabelString" type="xs:string"/>
							</xs:choice>
						</xs:sequence>
						<xs:element name="FundDetail" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FundNumber" type="xs:string"/>
									<xs:element name="FundDescription" type="xs:string"
										minOccurs="0"/>
									<xs:element name="Percent" type="xs:decimal" minOccurs="0"/>
									<xs:element name="MonetaryAmount" type="xs:decimal"
										minOccurs="0"/>
									<xs:element name="BudgetYear" type="xs:gYear" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="OrderNotes" type="xs:string" minOccurs="0"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Message">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MessageType" type="bicws:MessageTypeCode"/>
									<xs:element maxOccurs="unbounded" name="MessageLine"
										type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RequestedBy" type="xs:string" minOccurs="0"
							maxOccurs="unbounded"/>
						<xs:element name="ApprovedBy" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderResponseHeader">
		<xs:sequence>
			<xs:element name="IssueDateTime" type="bicws:DateOrDateTime"/>
			<xs:element name="SenderIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SenderIDType" type="bicws:SenderIDTypeCode"/>
						<xs:element name="IDTypeName" type="xs:string" minOccurs="0"/>
						<xs:element name="IDValue" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResponseNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountIdentifier" type="bicws:AccountIdentifier" minOccurs="0"/>
			<xs:element name="ReferenceCoded" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceTypeCode"
							type="bicws:OrderResponseReferenceTypeCode"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="ReferenceNumber" type="xs:string"/>
								<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"
									minOccurs="0"/>
							</xs:sequence>
							<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResponsePurposeCode" type="bicws:ResponsePurposeCode" minOccurs="0"/>
			<xs:element name="ResponseCoded" type="bicws:HeaderResponseCoded" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="SupplierIdentifier" type="bicws:SupplierIdentifier" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element minOccurs="0" name="OrderTypeCode" type="bicws:OrderTypeCode"/>
			<xs:element minOccurs="0" name="OrderPriorityCode" type="bicws:OrderPriorityCode"/>
			<xs:element name="CurrencyCode" type="bicws:CurrencyCode" minOccurs="0"/>
			<xs:element name="ShippingFrom" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Location" type="bicws:Location"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderStatus" type="bicws:OrderStatusCode" minOccurs="0"/>
			<xs:element name="OrderStatusMessage" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderResponseItemDetail">
		<xs:sequence>
			<xs:element name="LineNumber" type="xs:int"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="EAN13" type="xs:string"/>
					<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
						minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
					maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="ItemDescription" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BibNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="ProductForm" type="bicws:ProductFormCode" minOccurs="0"/>
						<xs:element name="Title" type="xs:string" minOccurs="0"/>
						<xs:element name="Author" type="xs:string" minOccurs="0"/>
						<xs:element name="SeriesTitle" type="xs:string" minOccurs="0"/>
						<xs:element name="VolumeOrPart" type="xs:string" minOccurs="0"/>
						<xs:element name="EditionStatement" type="xs:string" minOccurs="0"/>
						<xs:element name="CityOfPublication" type="xs:string" minOccurs="0"/>
						<xs:element name="CountryOfPublication" type="bicws:CountryCode"
							minOccurs="0"/>
						<xs:element name="PublisherName" type="xs:string" minOccurs="0"/>
						<xs:element name="DateOfPublication" type="bicws:Date" minOccurs="0"/>
						<xs:element name="YearOfPublication" type="bicws:Year" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderQuantity" type="xs:int"/>
			<xs:element name="ReferenceCoded" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceTypeCode" type="bicws:OrderItemReferenceTypeCode"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="ReferenceNumber" type="xs:string"/>
								<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"
									minOccurs="0"/>
							</xs:sequence>
							<xs:element name="ReferenceDateTime" type="bicws:DateOrDateTime"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="OrderPriorityCode" type="bicws:OrderPriorityCode"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="EpubTechnicalProtection"
				type="bicws:EpubTechnicalProtectionCode"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PriceConstraint">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PriceConstraintType" type="bicws:PriceConstraintTypeCode"/>
						<xs:element name="PriceConstraintStatus"
							type="bicws:PriceConstraintStatusCode"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="PriceConstraintLimit">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Quantity" type="xs:int"/>
									<xs:element name="PriceConstraintUnit"
										type="bicws:PriceConstraintUnitCode"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="EpubLicense">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="EpubLicenseName" type="xs:string"/>
						<xs:element minOccurs="0" name="EpubLicenseExpression">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="EpubLicenseExpressionType"
										type="bicws:EpubLicenseExpressionTypeCode"/>
									<xs:element minOccurs="0" name="EpubLicenseExpressionTypeName"
										type="xs:string"/>
									<xs:element name="EpubLicenseExpressionLink" type="xs:anyURI"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PriceCondition">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PriceConditionType" type="bicws:PriceConditionTypeCode"/>
						<xs:element maxOccurs="unbounded" minOccurs="0"
							name="PriceConditionQuantity">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PriceConditionQuantityType"
										type="bicws:PriceConditionQuantityTypeCode"/>
									<xs:element name="Quantity" type="xs:int"/>
									<xs:element name="QuantityUnit"
										type="bicws:PriceConditionQuantityUnitCode"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Price" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:sequence>
								<xs:group minOccurs="0" ref="bicws:PriceIdentifierGroup"/>
								<xs:element name="MonetaryAmount" type="xs:decimal"/>
								<xs:element name="CurrencyCode" type="bicws:CurrencyCode"
									minOccurs="0"/>
								<xs:element name="PriceQualifierCode"
									type="bicws:OrderPriceQualifierCode"/>
							</xs:sequence>
							<xs:group ref="bicws:PriceIdentifierGroup"/>
						</xs:choice>
						<xs:element minOccurs="0" name="PriceTypeQualifier"
							type="bicws:PriceTypeQualifierCode"/>
						<xs:element name="DiscountPercentage" type="xs:decimal" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderLineStatusCoded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatusCodeType" type="bicws:OrderLineStatusCodeTypeCode"/>
						<xs:element name="StatusCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QuantityShipping" type="xs:int" minOccurs="0"/>
			<xs:element name="ShippingFrom" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Location" type="bicws:Location"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BackorderedQuantity" type="xs:int" minOccurs="0"/>
			<xs:element name="CanceledQuantity" type="xs:int" minOccurs="0"/>
			<xs:element minOccurs="0" name="AvailabilityCoded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PublisherAvailabilityCode"
							type="bicws:PublisherAvailabilityCode" minOccurs="0"/>
						<xs:element name="ExpectedShipDate" type="bicws:Date" minOccurs="0"/>
						<xs:element name="PublishingStatusCode" type="bicws:PublishingStatusCode"
							minOccurs="0"/>
						<xs:element name="LibraryOnDisplayDate" type="bicws:Date" minOccurs="0"/>
						<xs:element name="OrderTime" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Substitute" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:sequence>
								<xs:element name="EAN13" type="xs:string"/>
								<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
									minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:element name="ProductIdentifier" type="bicws:ProductIdentifier"
								maxOccurs="unbounded"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Message">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="SubLineNumber" type="xs:int"/>
						<xs:element name="MessageType" type="bicws:MessageTypeCode"/>
						<xs:element maxOccurs="unbounded" name="MessageLine" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:sequence>
			<xs:element name="PartyIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PartyIDType" type="bicws:PartyIDAgencyCode"/>
						<xs:element name="IDValue" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartyName" type="xs:string" minOccurs="0"/>
			<xs:element name="PostalAddress" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CommunicationDetails" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CommunicationTypeCode" type="bicws:CommunicationTypeCode"/>
						<xs:element name="CommunicationLocator" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContactPerson" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceIdentifier">
		<xs:sequence>
			<xs:element name="PriceIDType" type="bicws:PriceIDTypeCode"/>
			<xs:element minOccurs="0" name="IDTypeName" type="xs:string"/>
			<xs:element name="IDValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="PriceIdentifierGroup">
		<xs:sequence>
			<xs:element name="PriceIdentifier" type="bicws:PriceIdentifier"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ProductIdentifier">
		<xs:sequence>
			<xs:element name="ProductIDType" type="bicws:ProductIDAgencyCode"/>
			<xs:element name="IDTypeName" type="xs:string" minOccurs="0"/>
			<xs:element name="IDValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplierIdentifier">
		<xs:sequence>
			<xs:element name="SupplierIDType" type="bicws:SupplierIDTypeCode"/>
			<xs:element name="IDTypeName" type="xs:string" minOccurs="0"/>
			<xs:element name="IDValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AccountIDTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CarrierName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CarrierNameCodeTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommunicationTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AD"/>
			<xs:enumeration value="AE"/>
			<xs:enumeration value="AF"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="AI"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AM"/>
			<xs:enumeration value="AO"/>
			<xs:enumeration value="AQ"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AS"/>
			<xs:enumeration value="AT"/>
			<xs:enumeration value="AU"/>
			<xs:enumeration value="AW"/>
			<xs:enumeration value="AX"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="BD"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BF"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="BH"/>
			<xs:enumeration value="BI"/>
			<xs:enumeration value="BJ"/>
			<xs:enumeration value="BL"/>
			<xs:enumeration value="BM"/>
			<xs:enumeration value="BN"/>
			<xs:enumeration value="BO"/>
			<xs:enumeration value="BQ"/>
			<xs:enumeration value="BR"/>
			<xs:enumeration value="BS"/>
			<xs:enumeration value="BT"/>
			<xs:enumeration value="BV"/>
			<xs:enumeration value="BW"/>
			<xs:enumeration value="BY"/>
			<xs:enumeration value="BZ"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CC"/>
			<xs:enumeration value="CD"/>
			<xs:enumeration value="CF"/>
			<xs:enumeration value="CG"/>
			<xs:enumeration value="CH"/>
			<xs:enumeration value="CI"/>
			<xs:enumeration value="CK"/>
			<xs:enumeration value="CL"/>
			<xs:enumeration value="CM"/>
			<xs:enumeration value="CN"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="CU"/>
			<xs:enumeration value="CV"/>
			<xs:enumeration value="CW"/>
			<xs:enumeration value="CX"/>
			<xs:enumeration value="CY"/>
			<xs:enumeration value="CZ"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="DJ"/>
			<xs:enumeration value="DK"/>
			<xs:enumeration value="DM"/>
			<xs:enumeration value="DO"/>
			<xs:enumeration value="DZ"/>
			<xs:enumeration value="EC"/>
			<xs:enumeration value="EE"/>
			<xs:enumeration value="EG"/>
			<xs:enumeration value="EH"/>
			<xs:enumeration value="ER"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="ET"/>
			<xs:enumeration value="FI"/>
			<xs:enumeration value="FJ"/>
			<xs:enumeration value="FK"/>
			<xs:enumeration value="FM"/>
			<xs:enumeration value="FO"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="GD"/>
			<xs:enumeration value="GE"/>
			<xs:enumeration value="GF"/>
			<xs:enumeration value="GG"/>
			<xs:enumeration value="GH"/>
			<xs:enumeration value="GI"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="GM"/>
			<xs:enumeration value="GN"/>
			<xs:enumeration value="GP"/>
			<xs:enumeration value="GQ"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="GS"/>
			<xs:enumeration value="GT"/>
			<xs:enumeration value="GU"/>
			<xs:enumeration value="GW"/>
			<xs:enumeration value="GY"/>
			<xs:enumeration value="HK"/>
			<xs:enumeration value="HM"/>
			<xs:enumeration value="HN"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="HT"/>
			<xs:enumeration value="HU"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IE"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IM"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="IO"/>
			<xs:enumeration value="IQ"/>
			<xs:enumeration value="IR"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="IT"/>
			<xs:enumeration value="JE"/>
			<xs:enumeration value="JM"/>
			<xs:enumeration value="JO"/>
			<xs:enumeration value="JP"/>
			<xs:enumeration value="KE"/>
			<xs:enumeration value="KG"/>
			<xs:enumeration value="KH"/>
			<xs:enumeration value="KI"/>
			<xs:enumeration value="KM"/>
			<xs:enumeration value="KN"/>
			<xs:enumeration value="KP"/>
			<xs:enumeration value="KR"/>
			<xs:enumeration value="KW"/>
			<xs:enumeration value="KY"/>
			<xs:enumeration value="KZ"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="LB"/>
			<xs:enumeration value="LC"/>
			<xs:enumeration value="LI"/>
			<xs:enumeration value="LK"/>
			<xs:enumeration value="LR"/>
			<xs:enumeration value="LS"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LU"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="LY"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MC"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="ME"/>
			<xs:enumeration value="MF"/>
			<xs:enumeration value="MG"/>
			<xs:enumeration value="MH"/>
			<xs:enumeration value="MK"/>
			<xs:enumeration value="ML"/>
			<xs:enumeration value="MM"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="MP"/>
			<xs:enumeration value="MQ"/>
			<xs:enumeration value="MR"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="MU"/>
			<xs:enumeration value="MV"/>
			<xs:enumeration value="MW"/>
			<xs:enumeration value="MX"/>
			<xs:enumeration value="MY"/>
			<xs:enumeration value="MZ"/>
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NC"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NF"/>
			<xs:enumeration value="NG"/>
			<xs:enumeration value="NI"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="NO"/>
			<xs:enumeration value="NP"/>
			<xs:enumeration value="NR"/>
			<xs:enumeration value="NU"/>
			<xs:enumeration value="NZ"/>
			<xs:enumeration value="OM"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PE"/>
			<xs:enumeration value="PF"/>
			<xs:enumeration value="PG"/>
			<xs:enumeration value="PH"/>
			<xs:enumeration value="PK"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PM"/>
			<xs:enumeration value="PN"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="PS"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="PW"/>
			<xs:enumeration value="PY"/>
			<xs:enumeration value="QA"/>
			<xs:enumeration value="RE"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="RS"/>
			<xs:enumeration value="RU"/>
			<xs:enumeration value="RW"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SB"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="SI"/>
			<xs:enumeration value="SJ"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="SN"/>
			<xs:enumeration value="SO"/>
			<xs:enumeration value="SR"/>
			<xs:enumeration value="SS"/>
			<xs:enumeration value="ST"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="SX"/>
			<xs:enumeration value="SY"/>
			<xs:enumeration value="SZ"/>
			<xs:enumeration value="TC"/>
			<xs:enumeration value="TD"/>
			<xs:enumeration value="TF"/>
			<xs:enumeration value="TG"/>
			<xs:enumeration value="TH"/>
			<xs:enumeration value="TJ"/>
			<xs:enumeration value="TK"/>
			<xs:enumeration value="TL"/>
			<xs:enumeration value="TM"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TO"/>
			<xs:enumeration value="TR"/>
			<xs:enumeration value="TT"/>
			<xs:enumeration value="TV"/>
			<xs:enumeration value="TW"/>
			<xs:enumeration value="TZ"/>
			<xs:enumeration value="UA"/>
			<xs:enumeration value="UG"/>
			<xs:enumeration value="UM"/>
			<xs:enumeration value="US"/>
			<xs:enumeration value="UY"/>
			<xs:enumeration value="UZ"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="VC"/>
			<xs:enumeration value="VE"/>
			<xs:enumeration value="VG"/>
			<xs:enumeration value="VI"/>
			<xs:enumeration value="VN"/>
			<xs:enumeration value="VU"/>
			<xs:enumeration value="WF"/>
			<xs:enumeration value="WS"/>
			<xs:enumeration value="YE"/>
			<xs:enumeration value="YT"/>
			<xs:enumeration value="ZA"/>
			<xs:enumeration value="ZM"/>
			<xs:enumeration value="ZW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AED"/>
			<xs:enumeration value="AFA"/>
			<xs:enumeration value="AFN"/>
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="AMD"/>
			<xs:enumeration value="ANG"/>
			<xs:enumeration value="AOA"/>
			<xs:enumeration value="ARS"/>
			<xs:enumeration value="AUD"/>
			<xs:enumeration value="AWG"/>
			<xs:enumeration value="AZM"/>
			<xs:enumeration value="BAM"/>
			<xs:enumeration value="BBD"/>
			<xs:enumeration value="BDT"/>
			<xs:enumeration value="BGL"/>
			<xs:enumeration value="BGN"/>
			<xs:enumeration value="BHD"/>
			<xs:enumeration value="BIF"/>
			<xs:enumeration value="BMD"/>
			<xs:enumeration value="BND"/>
			<xs:enumeration value="BOB"/>
			<xs:enumeration value="BRL"/>
			<xs:enumeration value="BSD"/>
			<xs:enumeration value="BTN"/>
			<xs:enumeration value="BWP"/>
			<xs:enumeration value="BYR"/>
			<xs:enumeration value="BZD"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="CDF"/>
			<xs:enumeration value="CHF"/>
			<xs:enumeration value="CLP"/>
			<xs:enumeration value="CNY"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="CRC"/>
			<xs:enumeration value="CSD"/>
			<xs:enumeration value="CUC"/>
			<xs:enumeration value="CUP"/>
			<xs:enumeration value="CVE"/>
			<xs:enumeration value="CYP"/>
			<xs:enumeration value="CZK"/>
			<xs:enumeration value="DJF"/>
			<xs:enumeration value="DKK"/>
			<xs:enumeration value="DOP"/>
			<xs:enumeration value="DZD"/>
			<xs:enumeration value="EEK"/>
			<xs:enumeration value="EGP"/>
			<xs:enumeration value="ERN"/>
			<xs:enumeration value="ETB"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="FJD"/>
			<xs:enumeration value="FKP"/>
			<xs:enumeration value="GBP"/>
			<xs:enumeration value="GEL"/>
			<xs:enumeration value="GHC"/>
			<xs:enumeration value="GIP"/>
			<xs:enumeration value="GMD"/>
			<xs:enumeration value="GNF"/>
			<xs:enumeration value="GTQ"/>
			<xs:enumeration value="GWP"/>
			<xs:enumeration value="GYD"/>
			<xs:enumeration value="HKD"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="HRK"/>
			<xs:enumeration value="HTG"/>
			<xs:enumeration value="HUF"/>
			<xs:enumeration value="IDR"/>
			<xs:enumeration value="ILS"/>
			<xs:enumeration value="INR"/>
			<xs:enumeration value="IQD"/>
			<xs:enumeration value="IRR"/>
			<xs:enumeration value="ISK"/>
			<xs:enumeration value="JMD"/>
			<xs:enumeration value="JOD"/>
			<xs:enumeration value="JPY"/>
			<xs:enumeration value="KES"/>
			<xs:enumeration value="KGS"/>
			<xs:enumeration value="KHR"/>
			<xs:enumeration value="KMF"/>
			<xs:enumeration value="KPW"/>
			<xs:enumeration value="KRW"/>
			<xs:enumeration value="KWD"/>
			<xs:enumeration value="KYD"/>
			<xs:enumeration value="KZT"/>
			<xs:enumeration value="LAK"/>
			<xs:enumeration value="LBP"/>
			<xs:enumeration value="LKR"/>
			<xs:enumeration value="LRD"/>
			<xs:enumeration value="LSL"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="LVL"/>
			<xs:enumeration value="LYD"/>
			<xs:enumeration value="MAD"/>
			<xs:enumeration value="MDL"/>
			<xs:enumeration value="MGA"/>
			<xs:enumeration value="MGF"/>
			<xs:enumeration value="MKD"/>
			<xs:enumeration value="MMK"/>
			<xs:enumeration value="MNT"/>
			<xs:enumeration value="MOP"/>
			<xs:enumeration value="MRO"/>
			<xs:enumeration value="MTL"/>
			<xs:enumeration value="MUR"/>
			<xs:enumeration value="MVR"/>
			<xs:enumeration value="MWK"/>
			<xs:enumeration value="MXN"/>
			<xs:enumeration value="MYR"/>
			<xs:enumeration value="MZM"/>
			<xs:enumeration value="NAD"/>
			<xs:enumeration value="NGN"/>
			<xs:enumeration value="NIO"/>
			<xs:enumeration value="NOK"/>
			<xs:enumeration value="NPR"/>
			<xs:enumeration value="NZD"/>
			<xs:enumeration value="OMR"/>
			<xs:enumeration value="PAB"/>
			<xs:enumeration value="PEN"/>
			<xs:enumeration value="PGK"/>
			<xs:enumeration value="PHP"/>
			<xs:enumeration value="PKR"/>
			<xs:enumeration value="PLN"/>
			<xs:enumeration value="PYG"/>
			<xs:enumeration value="QAR"/>
			<xs:enumeration value="ROL"/>
			<xs:enumeration value="RUB"/>
			<xs:enumeration value="RUR"/>
			<xs:enumeration value="RWF"/>
			<xs:enumeration value="SAR"/>
			<xs:enumeration value="SBD"/>
			<xs:enumeration value="SCR"/>
			<xs:enumeration value="SDD"/>
			<xs:enumeration value="SEK"/>
			<xs:enumeration value="SGD"/>
			<xs:enumeration value="SHP"/>
			<xs:enumeration value="SIT"/>
			<xs:enumeration value="SKK"/>
			<xs:enumeration value="SLL"/>
			<xs:enumeration value="SOS"/>
			<xs:enumeration value="SRD"/>
			<xs:enumeration value="SRG"/>
			<xs:enumeration value="STD"/>
			<xs:enumeration value="SVC"/>
			<xs:enumeration value="SYP"/>
			<xs:enumeration value="SZL"/>
			<xs:enumeration value="THB"/>
			<xs:enumeration value="TJS"/>
			<xs:enumeration value="TMM"/>
			<xs:enumeration value="TND"/>
			<xs:enumeration value="TOP"/>
			<xs:enumeration value="TPE"/>
			<xs:enumeration value="TRL"/>
			<xs:enumeration value="TRY"/>
			<xs:enumeration value="TTD"/>
			<xs:enumeration value="TWD"/>
			<xs:enumeration value="TZS"/>
			<xs:enumeration value="UAH"/>
			<xs:enumeration value="UGX"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value="UYU"/>
			<xs:enumeration value="UZS"/>
			<xs:enumeration value="VEB"/>
			<xs:enumeration value="VND"/>
			<xs:enumeration value="VUV"/>
			<xs:enumeration value="WST"/>
			<xs:enumeration value="XAF"/>
			<xs:enumeration value="XCD"/>
			<xs:enumeration value="XOF"/>
			<xs:enumeration value="XPF"/>
			<xs:enumeration value="YER"/>
			<xs:enumeration value="YUM"/>
			<xs:enumeration value="ZAR"/>
			<xs:enumeration value="ZMK"/>
			<xs:enumeration value="ZWD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:restriction base="xs:string">
			<xs:pattern value="2\d\d\d(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-8])"/>
			<xs:pattern value="200[048]0229"/>
			<xs:pattern value="2[1-9]0[48]0229"/>
			<xs:pattern value="2\d([2468][048]|[13579][26])0229"/>
			<xs:pattern value="2\d\d\d(0[13-9]|1[0-2])(29|30)"/>
			<xs:pattern value="2\d\d\d(0[13578]|1[02])31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOrDateTime">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="(19|2\d)\d\d(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-8])(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="(19|20)0[048]0229(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="(19|2[1-9])0[48]0229(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="(19|2\d)([2468][048]|[13579][26])0229(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="(19|2\d)\d\d(0[13-9]|1[0-2])(29|30)(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"/>
			<xs:pattern
				value="(19|2\d)\d\d(0[13578]|1[02])31(T([01][0-9]|2[0-3])[0-5][0-9]([0-5][0-9])?(Z|[+\-](0[0-9]|1[0-2])(00|15|30|45))?)?"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOrMonth">
		<xs:union memberTypes="bicws:Date bicws:Month"/>
	</xs:simpleType>
	<xs:simpleType name="DeliveryNotes">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DeliveryTimeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EpubLicenseExpressionTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EpubTechnicalProtectionCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FillTermsCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeaderInvoicingInstructionsCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeaderResponseTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemInvoicingInstructionsCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemFillTermsCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LibraryCatalogingFormatCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LibraryCatalogingSupplyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LibraryOrderProcessingInstructionCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NoProcessing"/>
			<xs:enumeration value="AppliedCopyNumber"/>
			<xs:enumeration value="AppliedCopyNumberFrom"/>
			<xs:enumeration value="AppliedCopyNumberTo"/>
			<xs:enumeration value="NoAppliedCopyNumber"/>
			<xs:enumeration value="SecurityDevice"/>
			<xs:enumeration value="NoSecurityDevice"/>
			<xs:enumeration value="Jacket"/>
			<xs:enumeration value="NoJacket"/>
			<xs:enumeration value="SpineLabel"/>
			<xs:enumeration value="NoSpineLabel"/>
			<xs:enumeration value="SpineLabelString"/>
			<xs:enumeration value="Pocket"/>
			<xs:enumeration value="NoPocket"/>
			<xs:enumeration value="CirculationCard"/>
			<xs:enumeration value="NoCirculationCard"/>
			<xs:enumeration value="DateDueSlip"/>
			<xs:enumeration value="NoDateDueSlip"/>
			<xs:enumeration value="Binding"/>
			<xs:enumeration value="NoBinding"/>
			<xs:enumeration value="Stamp"/>
			<xs:enumeration value="NoStamp"/>
			<xs:enumeration value="Embossing"/>
			<xs:enumeration value="NoEmbossing"/>
			<xs:enumeration value="RFIDChip"/>
			<xs:enumeration value="NoRFIDChip"/>
			<xs:enumeration value="AudioPackaging"/>
			<xs:enumeration value="NoAudioPackaging"/>
			<xs:enumeration value="Classification"/>
			<xs:enumeration value="NoClassification"/>
			<xs:enumeration value="Catalog"/>
			<xs:enumeration value="NoCatalog"/>
			<xs:enumeration value="Laminate"/>
			<xs:enumeration value="NoLaminate"/>
			<xs:enumeration value="SewnFlexi"/>
			<xs:enumeration value="NoSewnFlexi"/>
			<xs:enumeration value="CaseBind"/>
			<xs:enumeration value="NoCaseBind"/>
			<xs:enumeration value="BindingAsSupplied"/>
			<xs:enumeration value="SeparateInstructions"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LibrarySubjectSchemeIdentifierCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationIDAgencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MessageTypeCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="0[1-9]|[1-9]\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Month">
		<xs:restriction base="xs:string">
			<xs:pattern value="20\d\d(0[1-9]|1[0-2])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderDateQualifierCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderItemReferenceTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="12"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderLineStatusCodeTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderPriceQualifierCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderPriorityCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OrderReferenceTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderResponseItemReferenceTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="12"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderResponseReferenceTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartyIDAgencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceConditionQuantityTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceConditionQuantityUnitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceConditionTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceConstraintStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceConstraintTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceConstraintUnitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceIDTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceTypeQualifierCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductFormCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="AA"/>
			<xs:enumeration value="AB"/>
			<xs:enumeration value="AC"/>
			<xs:enumeration value="AD"/>
			<xs:enumeration value="AE"/>
			<xs:enumeration value="AF"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="AH"/>
			<xs:enumeration value="AI"/>
			<xs:enumeration value="AJ"/>
			<xs:enumeration value="AK"/>
			<xs:enumeration value="AM"/>
			<xs:enumeration value="AN"/>
			<xs:enumeration value="AO"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="BC"/>
			<xs:enumeration value="BD"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BF"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="BH"/>
			<xs:enumeration value="BI"/>
			<xs:enumeration value="BJ"/>
			<xs:enumeration value="BK"/>
			<xs:enumeration value="BL"/>
			<xs:enumeration value="BM"/>
			<xs:enumeration value="BP"/>
			<xs:enumeration value="BZ"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CB"/>
			<xs:enumeration value="CC"/>
			<xs:enumeration value="CD"/>
			<xs:enumeration value="CE"/>
			<xs:enumeration value="CZ"/>
			<xs:enumeration value="DA"/>
			<xs:enumeration value="DB"/>
			<xs:enumeration value="DC"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="DF"/>
			<xs:enumeration value="DG"/>
			<xs:enumeration value="DH"/>
			<xs:enumeration value="DI"/>
			<xs:enumeration value="DN"/>
			<xs:enumeration value="DZ"/>
			<xs:enumeration value="EA"/>
			<xs:enumeration value="EB"/>
			<xs:enumeration value="EC"/>
			<xs:enumeration value="ED"/>
			<xs:enumeration value="FA"/>
			<xs:enumeration value="FC"/>
			<xs:enumeration value="FD"/>
			<xs:enumeration value="FE"/>
			<xs:enumeration value="FF"/>
			<xs:enumeration value="FZ"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="LB"/>
			<xs:enumeration value="LC"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MB"/>
			<xs:enumeration value="MC"/>
			<xs:enumeration value="MZ"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PB"/>
			<xs:enumeration value="PC"/>
			<xs:enumeration value="PD"/>
			<xs:enumeration value="PE"/>
			<xs:enumeration value="PF"/>
			<xs:enumeration value="PG"/>
			<xs:enumeration value="PH"/>
			<xs:enumeration value="PI"/>
			<xs:enumeration value="PJ"/>
			<xs:enumeration value="PK"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PM"/>
			<xs:enumeration value="PN"/>
			<xs:enumeration value="PO"/>
			<xs:enumeration value="PP"/>
			<xs:enumeration value="PQ"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="PS"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="PU"/>
			<xs:enumeration value="PZ"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SB"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SF"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="VB"/>
			<xs:enumeration value="VC"/>
			<xs:enumeration value="VD"/>
			<xs:enumeration value="VE"/>
			<xs:enumeration value="VF"/>
			<xs:enumeration value="VG"/>
			<xs:enumeration value="VH"/>
			<xs:enumeration value="VI"/>
			<xs:enumeration value="VJ"/>
			<xs:enumeration value="VK"/>
			<xs:enumeration value="VL"/>
			<xs:enumeration value="VM"/>
			<xs:enumeration value="VZ"/>
			<xs:enumeration value="WW"/>
			<xs:enumeration value="WX"/>
			<xs:enumeration value="XA"/>
			<xs:enumeration value="XB"/>
			<xs:enumeration value="XC"/>
			<xs:enumeration value="XD"/>
			<xs:enumeration value="XE"/>
			<xs:enumeration value="XF"/>
			<xs:enumeration value="XG"/>
			<xs:enumeration value="XH"/>
			<xs:enumeration value="XI"/>
			<xs:enumeration value="XJ"/>
			<xs:enumeration value="XK"/>
			<xs:enumeration value="XL"/>
			<xs:enumeration value="XM"/>
			<xs:enumeration value="XZ"/>
			<xs:enumeration value="ZA"/>
			<xs:enumeration value="ZB"/>
			<xs:enumeration value="ZC"/>
			<xs:enumeration value="ZD"/>
			<xs:enumeration value="ZE"/>
			<xs:enumeration value="ZF"/>
			<xs:enumeration value="ZG"/>
			<xs:enumeration value="ZH"/>
			<xs:enumeration value="ZI"/>
			<xs:enumeration value="ZJ"/>
			<xs:enumeration value="ZK"/>
			<xs:enumeration value="ZL"/>
			<xs:enumeration value="ZM"/>
			<xs:enumeration value="ZN"/>
			<xs:enumeration value="ZO"/>
			<xs:enumeration value="ZY"/>
			<xs:enumeration value="ZZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductIDAgencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublisherAvailabilityCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublishingStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponsePurposeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SenderIDTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShippingInstructionsCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SupplierIDTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VendorDeliveryService">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Year">
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|2\d)\d\d"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
